# Url used to send alert on discord
GATUS_ALERT_DISCORD_WEBHOOK_URL={{ vault_gatus_alert_discord_webhook_url }}



# Tcp port exposed by gatus
GATUS_INT_PORT={{ gatus_int_port }}



# User that connect to Gatus portal
GATUS_USER={{ gatus_user }}

# User password for GATUS_USER This password is a base64 bcrypted password
GATUS_USER_PASSWORD={{ vault_gatus_user_password }}



# Location of the gatus configuration dir
GATUS_CONFIG_PATH="{{ vm_gatus_dir }}"

# Location of the certificate used by tls gatus
GATUS_CERT_PATH="{{ vm_gatus_dir }}/{{ gatus_cert_name }}"

# Location of the private_key used by tls gatus
GATUS_PRIVATE_PATH="{{ vm_gatus_dir }}/{{ gatus_private_name}}"